# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Release Tag

on:
  push:
    tags:
      - v*.*.*

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set tag env
      run: echo "TAG_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'
    - name: Set version
      run: ./mvnw versions:set -DnewVersion="$TAG_VERSION"
    - name: Build native executable
      run: ./mvnw package -Dnative -Dquarkus.native.container-build=true
    - uses: actions/upload-artifact@v4
      with:
        name: aghab-$TAG_VERSION-runner
        path: target/*-runner
    - name: Docker Build and Save
      run: |
        docker build -t shelang/aghab:$TAG_VERSION -f src/main/docker/Dockerfile.native .
        docker save shelang/aghab:$TAG_VERSION > shelang-aghab-$TAG_VERSION.docker.tar.gz
    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        generate_release_notes: true
        files: |
          target/*-runner
          *.docker.tar.gz
